:root {
  --primary-color: #1f918d;
  --secondary-color: #0d2340;
  --accent-color: #f6af31;
}

.page-title {
  font-size: 18px;
}

.fw-bold {
  font-weight: bold;
}

.accent-color-bg {
  background-color: var(--accent-color);
}

.primary-color-bg {
  background-color: var(--primary-color);
}

.secondary-color-bg {
  background-color: var(--secondary-color);
}

.btn-primary-custom {
  --bs-btn-color: #fff;
  --bs-btn-bg: var(--primary-color);
  --bs-btn-border-color: var(--primary-color);
  --bs-btn-hover-color: #fff;
  /* --bs-btn-hover-bg: color-mix(in srgb, var(--primary-color), white 30%) #0b5ed7; */
  --bs-btn-hover-bg: color-mix(in srgb, var(--primary-color), black 10%);
  --bs-btn-hover-border-color: color-mix(
    in srgb,
    var(--primary-color),
    black 10%
  );
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: color-mix(in srgb, var(--primary-color), black 20%);
  --bs-btn-active-border-color: color-mix(
    in srgb,
    var(--primary-color),
    black 18%
  );
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: var(--primary-color);
  --bs-btn-disabled-border-color: var(--primary-color);
}
